@media screen and  (min-width:100px) and (max-width: 500px){
    body {

    }
    .TableList{
        width: 100%;
    }
    .TableList .tablex{
        width: 45%;
        font-size: 30px;         
        color: #FFF;
        text-align: center; 
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
    }

}
@media screen and  (min-width:500px) and (max-width: 900px){
    body {

    }
    .TableList{
        width: 100%;
    }
    .TableList .tablex{
        width:30%;
        font-size: 30px;         
        color: #FFF;
        text-align: center; 
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
    }

}